.navbar-brand img {
    width: auto;
    height: 100%;
}

#footer {
    margin-top: 30px;
    border-top: solid #222 2px;
    position: relative;
    background-color: #333;
    width: 100%;
    min-height: 250px;
}
#footer-final {
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    bottom: 0;
    background-color: #222;
    width: 100%;
}

div#footer-final {
    background: center center url("/assets/img/Logo-White.png") #222 no-repeat;
    background-size: 25px;
    font-size: 12pt;
    color: #AAAAAA;
    padding-right: 20px;
    padding-left: 20px;
    vertical-align: middle;
}
/* Clearfix */
div#footer-final:after {
    content: "";
    display: table;
    clear: both;
}
div#footer-final div#badges {
    float: left;
}
div#footer-final div#love {
    float: right;
}
div#footer-final a:visited {
    color: #AAAAAA;
    text-underline: single;
}
div#footer-final a {
    color: #AAAAAA;
    text-underline: single;
}
div#footer-final a:active {
    color: #AAAAAA;
    text-underline: none;
}
div#footer-final p {
    margin: 0;
}
div#footer-final p, div#footer-final a {
    line-height: 50px;
}


div#map {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
}

div#hud {
    z-index: 99;
    position: absolute;
    top: 65px;
    left: 15px;
    background-color: #000;
    opacity: 0.85;
    min-height: 70%;
    pointer-events: none;
    border-radius: 2px;
}
div#hud div#wrapper {
    padding: 10px;
}
div#hud div#wrapper h2 {
    color: #FFF;
    opacity: 1.0;
}
div#hud div#wrapper p {
    color: #FFF;
    opacity: 1.0;
}
div#hud div#controls {
    padding: 1px;
    opacity: 1.0;
    border-top: 1px solid #AAAAAA;
    position: absolute;
    background-color: #444;
    width: 100%;
    bottom: 0px;
    text-align: center;
    font-size: 13pt;
    pointer-events: all;
}
div#hud div#controls span,
div#hud div#controls span a,
div#hud div#controls span a:visited {
    color: #FFFFFF;
    text-decoration: none;
}
div#hud div#controls span:hover,
div#hud div#controls span a:hover {
    color: #000000;
    text-decoration: none;
}
div#hud div#controls span:active,
div#hud div#controls span a:active {
    color: #222222;
    text-decoration: none;
}