html, body {height: 100%;}

.navbar-brand img {
    width: auto;
    height: 100%;
}

#footer {
    margin-top: 30px;
    border-top: solid #222 2px;
    position: relative;
    background-color: #333;
    width: 100%;
    min-height: 250px;
}
#footer-final {
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    bottom: 0;
    height: 50px;
    background-color: #222;
    width: 100%;
}

div#footer-final {
    background-image: url("/assets/img/Logo-White.png");
    background-position: center 5px;
    background-repeat: no-repeat;
    background-size: 25px;
    font-size: 12pt;
    color: #AAAAAA;
    padding-right: 20px;
    padding-left: 20px;
    vertical-align: middle;
    line-height: 40px;
}
div#footer-final div#badges {
    float: left;
}
div#footer-final div#love {
    float: right;
}
div#footer-final a:visited {
    color: #AAAAAA;
    text-underline: single;
}
div#footer-final a {
    color: #AAAAAA;
    text-underline: single;
}
div#footer-final a:active {
    color: #AAAAAA;
    text-underline: none;
}


#map { height: 100%; margin-top: -20px;}